.containe{
    dispaly:flex;
    height:200px;
    width:1000px;
    background-color:blue;
    border:1px solid black;
flex-wrap:wrap;


}
.item
height:100px;
width:100px;
border:2px
background-color:blue;