.container{
    display:grid;
    height:500px;
    width:1000px
    background-color:aqua;
    bordenr:2px solid black;

}
.tem{
    height:500px;
    width:1000px;
    background-color:teal;
    border:2px;
}