h2{
color:aqua;
}
p{

    color:brown;}

    text align :center;
    font size : 20px
.par{
    color:chartreuse;}
    div{
        height: 200px;
        width: 200px;
        color:red;
        text align :center;
        align-content :center;
        padding :20px;
        margin :100px;
        border : 1px solid red;
    
    }
   h1 { text align:center;
    color:blue;

    }
